.order-container {
  width: 30%;
  margin: 2.5% 2%;
  padding: 1vw 0;
  float: left;
  box-sizing: border-box;
  background: $color-border-order;

  div {
    background: $color-background-order;
    @include clearfix;

    h2 {
      margin-top: 0;
      padding: 1%;
      font-family: $font-fun-title;
    }

    h3 {
      @include order-cost-placement;
      font-family: $font-fun-title;
    }

    h4 {
      @include order-cost-placement;
      font-family: $font-fun-title;
    }

    .place-order {
      display: block;
      clear: both;
      margin: 0 auto;
      width: 100%;
      border: none;
      background: $color-background-menu;
      font-weight: bolder;
      font-size: 1rem;
    }
  }

  li {
    margin: 2vh 0;
    padding: 0 1vw;
    vertical-align: middle;
    @include clearfix;

    .name {
      vertical-align: middle;
      display: inline-block;
      font-size: 1em;
      padding: .5em;
    }

    .delete {
      vertical-align: middle;
      display: inline-block;
      float: left;
      border: none;
      height: 2em;
      width: 2em;
      background-color: $color-background-menu;
    }

    .dollar-amount {
      display: inline-block;
      float: right;
      padding: .5em;
    }
  }
}
