$color-description: #7d7d7d;
$color-border-order: #f48f32;
$color-background-order: rgba(#d1d1d1, 0.50);

@mixin order-cost-placement {
  float: right;
  display: block;
  clear: both;
  padding-right: 5%;
}
