$color-description: #ffe7c2;
$color-border-order: #f48f32;
// $color-border-menu-item: #b64413;
$color-border-menu-item: #eb022c;
$color-background-order: rgba(#d1d1d1, 0.50);
$color-background-menu: #ff9900;
$color-background-hover: #fcbd00;

$font-standard: 'Ubuntu', sans-serif;
$font-fun-title: 'Coiny', cursive;


@mixin order-cost-placement {
  float: right;
  display: block;
  clear: both;
  padding-right: 5%;
}
